@media screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: 0.5fr 4fr 2.5fr 0.5fr;
        padding: 1rem 5rem;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
    }
}
.music {
    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
        cursor: pointer;
    }
}
.container {
    grid-template-columns: 0.5fr 4fr 2fr 1fr;
    width: 100%;
    border-bottom: 2px solid var(--gray);
    text-transform: uppercase;
    color: var(--text-secondary);
}
.active-song {
    background-color: hsla(0, 0%, 100%, 0.1);
}
