.music {
    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
        cursor: pointer;
    }
}
.container {
    display: grid;
    grid-template-columns: 0.5fr 4fr 2.5fr 0.5fr;
    padding: 1rem 5rem;
    width: 100%;
    border-bottom: 2px solid var(--gray);
    text-transform: uppercase;
    color: var(--text-secondary);
}
.active-song {
    background-color: hsla(0, 0%, 100%, 0.1);
}
@media screen and (max-width: 768px) {
    .container {
        padding: 1rem 2rem;
    }
}
