@media screen and (min-width: 1025px) {
    .list-music {
        grid-template-columns: 0.5fr 4fr 2.5fr 0.5fr;
        padding: 1rem 5rem;
    }
}
@media screen and (max-width: 768px) {
    .list-music {
        grid-template-columns: 0.5fr 4fr 2.5fr 0.5fr;
        padding: 1.2rem 1rem;
    }
}

.list-music {
    display: grid;
    width: 100%;
}
.icon {
    font-size: 2rem;
}
