.list-music {
    display: grid;
    width: 100%;
    grid-template-columns: 0.5fr 4fr 2.5fr 0.5fr;
    padding: 1rem 5rem;
}
.icon {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .list-music {
        padding: 1rem 2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}
