.wrapper{
    background-color: var(--gray);
    height: 100vh;
}
.footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-weight: 700;
    color: var(--text-secondary);
    font-size: 1.4rem;
}